<header class="header">
    <div class="header__fixed-container">
        <button id="back_btm" class="header__backward"></button>
        <h1 class="header__text"><%= title %></h1>
    </div>
    <div class="header__sep"></div>
</header>