<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <main>
            <%- include('../partials/header'); %>
            <div class="cart-empty">
                <img src="/images/thank-you.png" alt="" class="cart-empty__img">
                <div class="cart-empty__header">Успешно</div>
                <div class="cart-empty__subheader">Мы начали готовить ваш заказ</div>
            </div>
            <%- include('../partials/bottom_nav'); %>
        </main>
        <%- include('../partials/script'); %>
	</body>
</html>